#1. Write a code to create a string with your name and print it.

In [1]:
# Create a string with your name
name = "tufail sami"

# Print the string
print(name)

tufail sami

#2. Write a code to find the length of the string "Hello World".

In [2]:
# Define the string
my_string = "Hello World"

# Find the length of the string
length = len(my_string)

# Print the length
print("The length of the string is:", length)

The length of the string is: 11

#3. Write a code to slice the first 3 characters from the string "Python Programming".

In [3]:
# Define the string
my_string = "Python Programming"

# Slice the first 3 characters
sliced_string = my_string[:3]

# Print the sliced string
print("The first 3 characters are:", sliced_string)

The first 3 characters are: Pyt

#4. Write a code to convert the string "hello" to uppercase.

In [4]:
# Define the string
my_string = "hello"

# Convert the string to uppercase
uppercase_string = my_string.upper()

# Print the uppercase string
print("The uppercase string is:", uppercase_string)

The uppercase string is: HELLO

#5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [5]:
# Define the string
my_string = "I like apple"

# Replace "apple" with "orange"
modified_string = my_string.replace("apple", "orange")

# Print the modified string
print("The modified string is:", modified_string)

The modified string is: I like orange

#6. Write a code to create a list with numbers 1 to 5 and print it.

In [6]:
# Create a list with numbers from 1 to 5
my_list = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", my_list)

The list is: [1, 2, 3, 4, 5]

#7. Write a code to append the number 10 to the list [1, 2, 3, 4].

In [7]:
# Define the list
my_list = [1, 2, 3, 4]

# Append the number 10 to the list
my_list.append(10)

# Print the updated list
print("The updated list is:", my_list)

The updated list is: [1, 2, 3, 4, 10]

#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [8]:
# Define the list
my_list = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
my_list.remove(3)

# Print the updated list
print("The updated list is:", my_list)

The updated list is: [1, 2, 4, 5]

#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [14]:
# Define the list
my_list = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = my_list[1]

# Print the second element
print("The second element is:", second_element)

The second element is: b

#10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
# Define the list
my_list = [10, 20, 30, 40, 50]

# Reverse the list
my_list.reverse()

# Print the reversed list
print("The reversed list is:", my_list)

The reversed list is: [50, 40, 30, 20, 10]

#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [13]:
# Create a tuple with the elements 10, 20, 30
my_tuple = (10, 20, 30)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [15]:
# Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print("The first element is:", first_element)

The first element is: apple

#13.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [16]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_2 = my_tuple.count(2)

# Print the result
print("The number 2 appears", count_of_2, "times in the tuple.")

The number 2 appears 3 times in the tuple.

#14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

#15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [18]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

#16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [19]:
# Create a set with the elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print("The set is:", my_set)

The set is: {1, 2, 3, 4, 5}

#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [20]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print("The updated set is:", my_set)

The updated set is: {1, 2, 3, 4, 6}

#18. Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [21]:
# Create a tuple with the elements 10, 20, 30
my_tuple = (10, 20, 30)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30)

#19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [23]:
# Define the tuple
my_tuple = ('apple', 'banana', 'cherry')

# Access the first element (index 0)
first_element = my_tuple[0]

# Print the first element
print("The first element is:", first_element)

The first element is: apple

#20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [22]:
# Define the tuple
my_tuple = (1, 2, 3, 2, 4, 2)

# Count how many times the number 2 appears in the tuple
count_of_2 = my_tuple.count(2)

# Print the result
print("The number 2 appears", count_of_2, "times in the tuple.")

The number 2 appears 3 times in the tuple.

#21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [24]:
# Define the tuple
my_tuple = ('dog', 'cat', 'rabbit')

# Find the index of the element "cat"
index_of_cat = my_tuple.index('cat')

# Print the index
print("The index of 'cat' is:", index_of_cat)

The index of 'cat' is: 1

#22.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana')

In [25]:
# Define the tuple
my_tuple = ('apple', 'orange', 'banana')

# Check if "banana" is in the tuple
if 'banana' in my_tuple:
    print("Yes, 'banana' is in the tuple.")
else:
    print("No, 'banana' is not in the tuple.")

Yes, 'banana' is in the tuple.

#23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [26]:
# Create a set with the elements 1, 2, 3, 4, 5
my_set = {1, 2, 3, 4, 5}

# Print the set
print("The set is:", my_set)

The set is: {1, 2, 3, 4, 5}

#24.  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [27]:
# Define the set
my_set = {1, 2, 3, 4}

# Add the element 6 to the set
my_set.add(6)

# Print the updated set
print("The updated set is:", my_set)

The updated set is: {1, 2, 3, 4, 6}